.car-card {
	display: inline-block;
	border: 2px solid black;
	width: 25%;
	height: 250px;
	margin: 25px;
	text-align: center;
	vertical-align: top;
	border-radius: 2%;
	padding: 3%;
}

.clicked {
	border: 5px solid blue;
	background-color: salmon;
	color: white;
}